@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
.background-container {
    padding: 0px;
    margin: 0px;
    height: 120vh;
    background-image: url('../Assets/images/background-image.jpg');
    opacity: 0.8;
}

body {
    position: relative;
}

.navbar {
    margin-bottom: 0px !important;
}

.welcomePage-container {
    border-radius: 10px;
    height: 300px;
    position: relative;
    top: 250px;
    border: 2px solid black;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: #212529;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    color: black;
    font-family: 'Luckiest Guy', cursive;
    /* animation: fadeIn 2s cubic-bezier(.39, -1.05, .58, 1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom; */
}

.animation-container {
    animation: fadeIn 2s cubic-bezier(.39, -1.05, .58, 1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom;
}

.character-img {
    z-index: -1;
    width: 200px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

#drStranger {
    top: -140px;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    transform: rotate(20deg);
    background-image: url('../Assets/images/rouge.png');
    position: absolute;
}

#ironMan {
    top: -140px;
    left: -150px;
    width: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    -ms-transform: rotate(-10deg);
    /* IE 9 */
    transform: rotate(-40deg);
    background-image: url('../Assets/images/IronMan.png');
}

#hulk {
    top: 120px;
    left: -110px;
    position: absolute;
    -ms-transform: rotate(-120deg);
    /* IE 9 */
    background-size: cover;
    transform: rotate(-120deg);
    background-size: cover;
    width: 500px;
    background-image: url('../Assets/images/red_hulk.png');
}

#deadpool {
    top: 100px;
    right: -140px;
    position: absolute;
    -ms-transform: rotate(120deg);
    /* IE 9 */
    background-size: cover;
    transform: rotate(120deg);
    background-image: url('../Assets/images/Deadpool.png');
}

#captainAmerica {
    top: -100px;
    right: -140px;
    position: absolute;
    -ms-transform: rotate(20deg);
    /* IE 9 */
    transform: rotate(20deg);
    background-image: url('../Assets/images/captain.png');
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.bottom-characters {
    /* z-index: -1;
    padding: 10px;
    border: 2px solid black;
    animation: fadeInBottom 2s cubic-bezier(.39, -1.05, .58, 1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom; */
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.middle-text {
    text-align: center;
    padding: 10px;
    height: 200px;
    margin-top: 50px;
}

.top-characters {
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    /* animation: fadeIn 2s cubic-bezier(.39, -1.05, .58, 1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom;
} */
}

@keyframes fadeIn {
    0% {
        z-index: -1;
        position: relative;
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
    60% {
        z-index: -1;
        position: relative;
        opacity: 0;
        transform: scale3d(.75, .75, 1);
    }
    100% {
        z-index: -1;
        position: relative;
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@media screen and (max-width: 1000px) {
    .top-characters {
        display: none;
    }
    .bottom-characters {
        display: none;
    }
    .welcomePage-container {
        width: 80%;
    }
}


/*
BOOK LIST CSS 
 */

h3 {
    text-align: center;
}

#bookList-body {
    overflow: hidden;
    background-color: #353535;
}

#add-book {
    margin-bottom: 20px;
}

#table-container {
    z-index: 2;
    position: relative;
    top: -250px;
    border-radius: 10px;
    border: 1.5px solid black;
    padding: 10px;
    height: 700px;
    margin-left: 40px;
    background-color: #212529;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#table {
    background-color: darkgray;
}

.image-container {
    display: grid;
    grid-template-columns: auto auto;
}

.spiderMan-left {
    background-image: url('../Assets/images/redSpiderman.png');
    width: 140px;
    height: 310px;
    margin-left: 80px;
    background-size: cover;
    border: none;
    animation: fadeIn 2s cubic-bezier(.39, -1.05, .58, 1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom;
}

.spiderMan-right {
    background-image: url('../Assets/images/darkSpiderman.png');
    width: 400px;
    height: 300px;
    margin-left: auto;
    background-size: cover;
    animation: fadeIn 2s cubic-bezier(.39, -1.05, .58, 1.95);
    animation-delay: -0.2s;
    transform-origin: center bottom;
}

@media screen and (max-width: 1530px) {
    .spiderMan-left {
        display: none;
    }
    .spiderMan-right {
        display: none;
    }
    #table-container {
        position: relative;
        margin-top: 250px;
    }
}

@media screen and (max-width: 760px) {
    #table-container {
        margin-left: 0;
        overflow: scroll;
        height: 700px;
    }
    #table {
        max-width: none;
        width: fit-content;
    }
}