<%- include('../partials/header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/client/Content/app.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    </head>
    <body>
        <div class="background-container">
        <div class="animation-container">
            <div class="welcomePage-container">
            <div class="top-characters">

                <div class="img-container">
                  <div class="character-img"  id="ironMan"  ></div>
                </div>

                <div class="img-container">
                  
                 <div class="character-img" id="drStranger" ></div>
                </div>

                <div class="img-container">
                 
                 <div class="character-img" id="captainAmerica"  ></div>
                </div>
             
            </div>

                        <div class="middle-text">
                            <h3>Welcome to the Website </h3>
                        <p class="subtext">
                        Welcome to your favourite Comic book list website. Here you Add you favourite comic books and view them when eveer you want.
                        Enjoy the website.
                        </p>
                        </div>
                     

                    <div class="bottom-characters">
                        <div class="character-img" id="hulk"  ></div>
                        <div class="character-img"  id="deadpool"  ></div>
                    </div>
             
            </div>
            </div>
        </div>
    </body>
</html>
<%- include('../partials/footer.ejs'); %>


