<%- include('../partials/header.ejs'); %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/client/Content/app.css" />
    </head>
    <body>
        <div class="background-container">
        <div class="animation-container">
            <div class="welcomePage-container">
            <div class="top-characters">

                <div class="img-container">
                  <img class="character-img"  id="ironMan"  />
                </div>

                <div class="img-container">
                  
                 <img class="character-img" id="drStranger" />
                </div>

                <div class="img-container">
                 
                 <img class="character-img" id="captainAmerica"  />
                </div>
             
            </div>

                        <div class="middle-text">
                            Welcome to the Website 
                        <p class="subtext">
                        Welcome to your favourite Comic book list website. Here you Add you favourite comic books and view them when eveer you want.
                        Enjoy the website.
                        </p>
                        </div>
                     

                    <div class="bottom-characters">
                        <img class="character-img" id="hulk"  alt="rouge" />
                        <img class="character-img"  id="deadpool" alt="deadPool" />
                    </div>
             
            </div>
            </div>
        </div>
    </body>
</html>
<%- include('../partials/footer.ejs'); %>


