<%- include('../partials/header.ejs'); %>
<link rel="stylesheet" href="../Content/homePage.css" />
    <!-- MAIN CONTENT -->
    <div class="container" id="background-container">

    </div>

<%- include('../partials/footer.ejs'); %>


